:root {
    --red: #D83F31;
    --dark-orange: #EE9322;
    --orange: #E9B824;
    --blue: #219C90;
}

body {
    background-color: var(--red);

    margin: 0;
    padding: 0;

    color: white;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.counter button {
    font-size: 50px;
    position: absolute;

    height: 100px;
    width: 15%;

    color: white;
}

.counter {
    background-color: var(--dark-orange);

    text-align: center;
    font-size: 75px;
    font-family: sans-serif;

    height: 208px;

    margin: 20px;
    
    border-radius: 8px;
}

.b-left {
    left: 20px;
}

.b-rigth {
    right: 20px;
}

button {
    font-size: 100px;
    font-family: sans-serif;

    border: none;
    border-radius: 8px;

    background-color: var(--orange);
}

h3 {
    font-size: 50px;
}

.buttons {
    margin: 20px;
    height: 143px;
}

.buttons button {
    width: 30%;
    height: 100%;

    font-size: 100px;

    color: white;
}


#links {
    height: 100%;
    background-color: var(--blue);
    padding: 5px;

    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;

    text-align: center;
}

#links a {
    color: white;
    text-decoration: none;
}

#links li {
    list-style-type: none;
    margin: 10px;
}