body {
    background-color: black;

    margin: 0;
    padding: 0;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.counter button {
    font-size: 50px;
    position: absolute;

    height: 100px;
    width: 15%;
}

.counter {
    background-color: rgb(45, 45, 45);

    text-align: center;
    color: white;
    font-size: 75px;
    font-family: sans-serif;

    height: 205px;

    margin: 20px;
    
    border-radius: 8px;
}

.b-left {
    left: 18px;
}

.b-rigth {
    right: 18px;
}

button {
    font-size: 100px;
    font-family: sans-serif;

    border: none;
    border-radius: 8px;

    color: white;
    background-color: black;
}

h3 {
    font-size: 50px;
}

.buttons {
    margin: 20px;
    height: 143px;
}

.buttons button {
    width: 30%;
    height: 100%;
}
