@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");

body {
    margin: 0;
    padding: 0;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.options_button {
    position: absolute;
    right: 0;
    top: 0;
}